<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Boston Key Party</h1>
        <p>Welcome to the Boston Key Party CTF 2014.  The BkP CTF will take place on Feb 28, 2014 at 17:00 UTC</p>
        <p>join us at #BkPctf on freenode</p>
    </div>

    <!-- Example row of columns -->
<div class="row" style="margin-left:0;margin-right:0;">
        <div class="span4">
            <h2>BUILDS</h2>
            <p>BUILDS is the Boston University Information Lab and Design Space from
            the USA. We are an international student run hackerspace which has
            been competing in CTFs for almost 3 years.</p>
            <p><a class="btn" href="http://builds.cc/">More Details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>NEU SECLAB</h2>
            <p>The Systems Security Lab at Northeastern University is a young group that was founded in 2011. However, its members have been around for quite a while -- its roots go back to the SecLab at the Technical University of Vienna, the SecLab at Eurecom in France, and the SecLab at UCSB.</p>
            <p><a class="btn" href="http://seclab.ccs.neu.edu/about.html">More Details &raquo;</a></p>
        </div>
    </div>
</div>



