%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:responses, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:responses, :new)

.tabs-content
  -form_for :response, url(:responses, :create), :class => 'form-horizontal' do |f|
    =partial 'responses/form', :locals => { :f => f }
